
/* #Formulario{
margin-top: .25rem;
font-size: small-font-size;
font-style: null;
font-weight: null;
color: text-muted;
} */

/* .card{
    border-radius: .25rem;
    padding: 50px;
    
} */
/* $border-radius:               .25rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .3rem;
$border-radius-pill:          50rem; */